* {
    /* min-height: 100vh;  ver para que sirve*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  $azul:blue;
  $blanco:white;
  $naranja:orange;
  $amarillo:yellow;
  $rojo:red;
//agregando extend
  %media{
    display: block;
  }
  //agregando mapas
  $letra: (
    h1: 15rem,
    h2: 4rem,
    h3: 8rem
  );
  $h1:map-get($letra,h1);
  $h2:map-get($letra,h2);
  $h3:map-get($letra,h3);

  .titulo {
    width: 100%;
    height: auto;
    background: radial-gradient(circle, $azul,$blanco);
    /* Al fondo de final se le da un degrade */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    /* Titulo se refiere al encabezado de la pagina, es flex, de color azul */
  //  COMENZANDO A UTILIZAR SASS
    &__texto {
      font-size: 3rem;
      font-weight: bold;
      color: $blanco;
      margin-right: 30rem;
      /* border: black solid 5px; */
      padding: 2% 2%;
    }
      /*Es uno de los hijos de titulo, se le da propiedades al texto  */
      &__imagen {
        width: $h1;
        margin-left: $h2;
        height:$h3;
        border-radius: 10px;
        /*Es uno de los hijos de titulo, se le da propiedades a la imagen */
      
    }
  }
  
  /* agrandando imagen cuando paso con el mouse por la imagen */
  .contenido__imagen--mlibre:hover {
    transform: scale(1.2);
  }
  
  @media (max-width: 500px) {
    .titulo {
        @extend %media;
      /* Como poner los elementos en el medio? */
    }
  }
  // .titulo__texto {
  //   font-size: 3rem;
  //   font-weight: bold;
  //   color: white;
  //   margin-right: 30rem;
  //   /* border: black solid 5px; */
  //   padding: 2% 2%;
  
  //   /*Es uno de los hijos de titulo, se le da propiedades al texto  */
  // }
 
  // .menu-sticky {
  //   position: -webkit-sticky;
  //   position: sticky;
  //   top: 20px;
  //   display: flex;
  //   /* flex-wrap: wrap; */
  //   /* El nav tiene position sticky */
  // }

  //Agregando mixin
  @mixin container($ancho,$largo,$color) {
    width: $ancho;
    height: $largo;
    background-color: $color;

  }
  .menu {
    // background: #d3d3d3;
    // width: 100%;
    // height: auto;
    @include container(100%, auto,#d3d3d3);
    display: flex;
    justify-content: space-between ;
    align-items: center;
    list-style: none;
    margin-right: 30px;
    margin: 0;
    padding: 0;
    /* flex-wrap: wrap;  */
    /* El menu que es el nav es display flex. El hija que es la lista se le da el formato list stylle none para sacarle los puntos*/
      li {
      margin-right: 2%;
       a {
        text-decoration: none;
        font-weight: bold;
        font-size: 2rem;
        color: black;
      }
     
       a:hover {
        /* animacion */
        color: $naranja;
        /* Se le da la propiedad hover para que cuando el mouse este sobre cada item, haga un efecto de sombrado */
      }
    }
  }
  /* Uso media querie... si la pantalla es menor a 500 px display es block */
  @media (max-width: 500px) {
    .menu {
      @extend %media;
    }
  }
  .final {
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    /* position:fixed
    botton:0;  Esto se usaria si quiere que el pie de pagina apareza siempre abajo*/
    background: linear-gradient(blue 40%, white);
    /* Al fondo de final se le da un degrade */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
    /* overflow: hidden; este hidden estaria  bien? */
     a:hover {
      /* animacion */
      color: $amarillo;
      /* Se le da la propiedad hover para que cuando el mouse este sobre cada item, haga un efecto de sombrado */
    }
    // agregando EXTEND
    %contacto{
      font-weight: bold;
      font-size: 30px;
      color: black;
    }
    &__tel{
     @extend %contacto;
    }
    &__mail {
      @extend %contacto;
    }
    &__instagram {
      /* padding: 7px 13px; */
      text-decoration: none;
      display: block;
      font-weight: bold;
      font-size: 30px;
      color: black;
    }
    &__imagen {
      border-radius: 10px;
      width: 2rem;
      height: 2rem;
      /* padding: 0; */
      align-self: center;
      display: block;
      /* margin-left: 1%; */
    }
    
  }
  /* Uso media querie... si la pantalla es menor a 500 px display es block */
  @media (max-width: 500px) {
    .final {
        @extend %media;
    }
  }
  
  .contenido {
    // background: $blanco;
    // width: 100%;
    // height: auto;
    @include container(100%, auto,#d3d3d3);
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 0;
    & article {
      border: black solid 5px;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
    &__imagen {
      transition: 1s;
      &--mlibre {
        background-image: linear-gradient(60% $amarillo, $blanco);
        height: auto;
        width: auto;
      }
    }
    
  }
  /* Uso media querie... si la pantalla es menor a 500 px display es block */
  @media (max-width: 500px) {
    .contenido {
      @extend %media;
    }
  }
    
  .formulario {
    // background: $blanco;
    // height: auto;
    // width: auto;
    @include container(auto, auto,#d3d3d3);

    /* display: block; */
    flex-direction: column;
    margin-top: 2rem;
    padding: 3rem;
    /* align-items: center;
          justify-content: center; */
    /*ver diferencia justify center y align items  */
    border: black solid 5px;
    /* margin-right: 0; */
     li {
      list-style: none;
    }
    input:focus {
      background: $rojo;
      color: $blanco;
    }
    
  }
    
  .principal {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $azul;
    font-size: 30px;
    flex-direction: column;
    justify-items: center;
    list-style: none;
     li {
      list-style: none;
       h4 {
        align-items: center;
        justify-content: center;
      }
    }
    
  }
  .marco {
    border: black solid 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
 
 

  #contacto {
    /* Contacto  es el id de section dentro del main en contacto.html va a ser display grid */
    background-color: white;
    height: 100%;
    display: grid;
    grid-template-areas:
      "vacio1 formulario vacio2"
      "instagram video mapa";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: auto;
    align-items: center;
    justify-content: center;
    transition: 1s;
  }
  
  #instagram {
    grid-area: instagram;
     :hover {
      transform: scale(1.5);
    }
  }
  
  #mapa {
    grid-area: mapa;
  }
  
  .formulario {
    grid-area: formulario;
  }
  #video {
    grid-area: video;
    align-items: center;
    justify-content: center;
  }
  #video:hover {
    transform: scale(1.5);
  }
  @media (max-width: 500px) {
    #contacto {
      @extend %media;
    }
  }
  
  